<html>
<head>
	<title>เว็บรวมเพลงพระราชนิพนธ์</title>
</head>
<body bgcolor="DCCC37">
<div align="right">
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<center>
	<h1>เว็บรวมเพลงพระราชนิพนธ์</h1>
</center>	



<center><a href="http://music.sanook.com/2382253/">รวมเพลงพระราชนิพนธ์</a></center>
	
</body>
</html>