<html>
<head>
	<title>สายฝน</title>
</head>
<body bgcolor="DCCC37">
<div align="right">
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<center>
	<h1>เพลงสายฝน</h1>
	<div class="embed-responsive embed-responsive-4by3">
  		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/abzNRTAyVt0"></iframe>
	</div>
	<h3>บทเพลงพระราชนิพนธ์ ลำดับที่ 3</h3>
	<h3>ชื่อเพลง : สายฝน</h3><br>
	ทำนอง : พระบาทสมเด็จพระเจ้าอยู่หัว ภูมิพลอดุลยเดช<br>
คำร้อง : พระเจ้าวรวงศ์เธอ พระองค์เจ้าจักรพันธ์เพ็ญศิริ<br>
ปี : พ.ศ.2489<br>
<br>
ขับร้อง : ศิริณี สมรรถนาวิน จากอัลบั้ม HM Blues<br>
เมื่อลมฝนบนฟ้ามาลิ่ว<br>
ต้นไม้พลิ้วลู่กิ่งใบ<br>
เหมือนจะเอนรากคลอนถอนไป<br>
แต่เหล่าไม้ยิ่งกลับงาม<br>
พระพรหมท่านบันดาลให้ฝนหลั่ง<br>
เพื่อประทังชีวิตมิทราม<br>
<br>
น้ำทิพย์สาดเป็นสายพรายพลิ้วทิวงาม<br>
ทั่วเขตคามชุ่มธารา<br>
สาดเป็นสายพรายพลิ้วทิวทุ่ง<br>
แดดทอรุ้งอร่ามตา<br>
รุ้งเลื่อมลายพร่างพลายนภา<br>
ยามเมื่อฝนมาแต่ไกล<br>
พระพรหมช่วยอำนวยให้ชื่นฉ่ำ<br>
เพื่อจะนำดับความร้อนใจ<br>
น้ำฝนพลั่งลงมาจากฟ้าแดนไกล<br>
พืชพรรณไม้ชื่นยืนยง<br>
----------------------------------------------<br>
เพลงพระราชนิพนธ์ สายฝน: Falling Rain เป็นเพลงพระราชนิพนธ์ลำดับที่ ๓ ทรงพระราชนิพนธ์ใน พ.ศ. ๒๔๘๙ ขณะทรงเป็นสมเด็จพระอนุชาธิราช <br>ทรงพระกรุณาโปรดเกล้าฯ ให้พระเจ้าวรวงศ์เธอ พระองค์เจ้าจักรพันธ์เพ็ญศิริ นิพนธ์คำร้องภาษาไทย ส่วนภาษาอังกฤษ พระเจ้าวรวงศ์เธอ <br>พระองค์เจ้าจักรพันธ์เพ็ญศิริ ทรงแต่งร่วมกับท่านผู้หญิงนพคุณ ทองใหญ่ ณ อยุธยา เพลงพระราชนิพนธ์สายฝนนี้ มีลีลานุ่มนวลอ่อนหวาน <br>บรรเลงครั้งแรกในงานรื่นเริงของ สมาคมส่งเสริมการเลี้ยงไก่แห่งประเทศไทย ณ เวทีลีลาศสวนอัมพร เมื่อวันอาทิตย์ที่ ๒ มิถุนายน พ.ศ. ๒๔๘๙ <br>จึงเป็นเพลงยอดนิยมของพสกนิกรไทยอีกเพลงหนึ่ง จนถึงปัจจุบัน<br>
</center>	
</body>
</html>