<html>
<head>
	<title>ใกล้รุ่ง</title>
</head>
<body bgcolor="DCCC37">
<div align="right">
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<center>
	<h1>เพลงใกล้รุ่ง</h1>
	<div class="embed-responsive embed-responsive-4by3">
  		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VLBJQgWkgog"></iframe>
	</div>
	<h3>บทเพลงพระราชนิพนธ์ ลำดับที่ 4</h3>
<h3>ชื่อเพลง : ใกล้รุ่ง</h3><br>
ทำนอง : พระบาทสมเด็จพระเจ้าอยู่หัว ภูมิพลอดุลยเดช<br>
คำร้อง : ศาสตราจารย์ ดร.ประเสริฐ ณ นคร<br>
ปี : พ.ศ.2489<br>
<br>
ขับร้อง คริสตี้ กริ๋ปสัน HM Blues<br>
ได้ยินเสียงแว่วดังแผ่วมาแต่ไกลไกล<br>
ชุ่มชื่นฤทัยหวานใดจะปาน<br>
ฟังเสียงบรรเลงขับเพลงประสาน<br>
จากทิพย์วิมานประทานกล่อมใจ<br>
<br>
ใกล้ยามเมื่อแสงทองส่อง<br>
ฉันคอยมองจ้องฟ้าเรืองรำไร<br>
ลมโบกโบยมาหนาวใจ<br>
รอช้าเพียงไรตะวันจะมา<br>
<br>
เพลิดเพลินฤทัยฟังไก่ประสานเสียงกัน<br>
ดอกมะลิวัลย์อวลกลิ่นระคนมณฑา<br>
โอ้ในยามนี้เพลินหนักหนาแสงทองนวลผ่องนภา<br>
แสนเพลินอุราสำราญ<br>
<br>
หมู่มวลวิหคบินผกมาแต่รังนอน<br>
เฝ้าเชยชิดช้อนลิ้มชมบัวบาน<br>
ยินเสียงบรรเลงดังเพลงขับขาน<br>
สอดคล้องกังวานซาบซ่านจับใจ<br>
<br>
------------------------------------<br>
เพลงพระราชนิพนธ์ใกล้รุ่ง: Near Dawn เป็นเพลงพระราชนิพนธ์ลำดับที่ ๔ ทรงพระราชนิพนธ์ในพ.ศ. ๒๔๘๙ ขณะทรงเป็นสมเด็จพระอนุชาธิราช <br>ทรงพระกรุณาโปรดเกล้าฯ ให้ศาสตราจารย์ ดร.ประเสริฐ ณ นคร ประพันธ์คำร้องภาษาไทย โดยมีพระเจ้าวรวงศ์เธอ พระองค์เจ้าจักรพันธ์เพ็ญศิริทรงช่วย <br>ส่วนคำร้องภาษาอังกฤษ ทรงพระกรุณาโปรดเกล้าฯ ให้ท่านผู้หญิงนพคุณ ทองใหญ่ ณ อยุธยา ประพันธ์ขึ้น และพระเจ้าวรวงศ์เธอ <br>พระองค์เจ้าจักรพันธ์เพ็ญศิริทรงช่วยแก้ไข แล้วพระราชทานให้วงดนตรีสุนทราภรณ์ นำออกบรรเลงครั้งแรก ทางสถานีวิทยุกระจายเสียงกรมโฆษณาการ <br>
(กรมประชาสัมพันธ์ปัจจุบัน) เมื่อเดือนกรกฎาคม พ.ศ. ๒๔๘๙<br>
</center>	

</body>
</html>